@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    background-image: url("cupcakes.jpg");

}
 .bod{
     background-image: url("cupcake1.jpg");
     
 }

.section {
    max-width: 1900px;
    margin: 0 auto;
    padding: 5% 4%;
}

.grid {
    margin: 0 0 0 -8%;
    padding: 0;
    text-align: center;
    list-style: none;
    display: block;
    width: 100%;
}

.grid:after {
    clear: both;
}

.grid:after, .box:before {
    content: '';
    display: table;
}

.grid li {
    width: 478px;
    height: 300px;
    display: inline-block;
    margin: 150px;
}

.box {
    width: 120%;
    height: 120%;
    position: relative;
    cursor: pointer;
    border-radius: 65px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out ;

}

.box:hover {
    transform: scale(1.05);

}

.img1 {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(cupcakes.jpg);
    border: 30px solid transparent;
    padding: 25px;
    background-size: 100%;

}

.info {
    position: absolute;
    width: inherit;
    height: inherit;
}

.center {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 42px;
    margin: 0 100px;
    padding: 60px 0 0 0;
    line-height: 1.5;}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 90%;
    background-color:dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightseagreen;
}

.box1  {
    width: 40%;
    border-radius: 5px;
    padding: 40px;
}
